/* Navigation*/
#navbar{
    flex-direction: column;
}

/* Home Section  */
#home{
    height: 400px;

}

#home::before{
    height: 280px;
}

/* Services Section  */
#services{
    flex-direction: column;

}

/* Client Section  */


/* Contact Us  */


/* Footer  */